/*
 * Component: PublicationCardSmall
 */

@import '../../../styles/variables';

// (IMPORTANT: please create the styles such that the larger breakpoints
// override the smaller ones. "Mobile First")


.reports-result-card {
  display: table;
  width: 100%;
  border-bottom: solid 1px $borderGray;
  padding: 10px 0px;
  position: relative;
  &.ui.list > .item {
    padding-bottom: 20px;
  }
  .right {
    display: none;
  }
  .left {
    width: 100%;
    display: table-row;
  }
  .ui.list > .item > .image.analyst-profile-image{
    vertical-align: middle;
  }
  .result-column {
    font-size: $deskSz9;
    @include appDefaultFontStyleRegular();
    text-align: left;
    padding: 0 25px;
    display: inline-block;
    vertical-align: middle;
    &.date {
      width: 19%;
      color: $primaryGray;
    }
    .mobile-view-author-name {
      display: none;
    }
    &.subject {
      width: 65%;
      .subject-heading {
        color: $primaryBlue;
        font-size: 1em;
        line-height: 1.25;
        
      }
    }
    &.user-pref {
      width: 16%; 
      text-align: right;
      padding-right: 23px;
      a {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        .pdf-size {
          font-size: $deskSzSmaller;
          color: $inputTextGray;
          padding-top: 3px;
        }
      }
      .user-pref-icon {
        &.pdf-image {
          background-size: 23px !important;
          background-position-x: -1px;
          height: 25px;
          width: 21px;
          cursor: pointer;
          margin-left: auto;
          vertical-align: middle;
        }
        &.eye-icon {
          margin: 0px;
          background-size: 29px !important;
          padding: 0px;
          height: 17px;
          width: 29px;
          vertical-align: middle;
        }
        &.bookmark-icon {
          // previous value - background-size: 23px !important; background-position-x: -3px !important;background-position-y: -4px;
          padding: 0px;
          margin: 0px;
          margin-left: 23%;
          background-size: 15px !important;
          background-position-x: 0px;
          background-position-y: 1px;
          padding: 0px;
          height: 23px;
          width: 16px;
          vertical-align: middle;
        }
        margin: 0 2px;
        height: auto;
        display: inline-block;
        float: unset;
      }
    }
    .subject-details {
      font-size: $deskSzSmaller;
      color: $primaryGray;
      &.ui.heading {
        
      }
    }
  }
}

@media (max-width: $screen-tab) {
  .reports-result-card {
    .result-column {
      &.user-pref {
        padding: 0px;
        text-align: center;
      }
    }
  }
}

@media (max-width: $screen-xs) {
  .reports-result-card {
    .right {
      .linkBtn {
        &.eye-inactive {
          height: 17.7px !important;
          width: 29.4px !important;
        } 
      }
    }
  }
}

// Medium Breakpoint
@media (max-width: $screen-md-min) {

  .reports-result-card {
    .left {
      width: 80%;
      position: relative;
      display: inline-block;
    }
    .right {
      width: 20%;
      position: relative;
      text-align: right;
      padding-right: 15px;
      display: inline-block;
      .linkBtn {
        padding: 0px;
        &.eye-inactive {
          height: 14px;
          width: 21px;
          top: 50%; 
          position: relative;
          transform: translateY(-50%);
        }
        &.grey-dots {
          width: 30px;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .plus-icon {
        width: 30px;
        height: auto;
      }
    }
    .result-column {
      padding: 0 15px;

      &.date {
        width: 26%;
       padding-top: 12px;
        display: inline-block;
      }
      &.subject {
        width: 100%;
        padding-top: 15px; 
        padding-bottom: 39px;
        display: inline-block;
      }
    }
    .result-column.subject {
      .ui.heading.subject-details {
        display: none;
      }
    }
    .result-column.user-pref {
      display: none;
    }
  }
}

// Large Breakpoint
@media (max-width: $screen-md-max) {
  .reports-result-card {
    // override md breakpoint styles
    .result-column{
      &.user-pref{
        padding-right: 23px;
      }
    }
  }
}
