docs/*
server/.coveragerc
server/.pylintrc
.gitkeep
.build
.coverage
.docker
.dockerignore
.editorconfig
.env
.git
.gitignore
CHANGELOG.rst
CONTRIBUTING.rst
coverage.xml
coverage-report/*
docker-compose.yml
Dockerfile
README.md
pylint_report.txt
.sonar/*
Vagrantfile
