/*
 * Component: ForgotPasswordContainer
 */

@import '../../styles/variables';

// (IMPORTANT: please create the styles such that the larger breakpoints
// override the smaller ones. "Mobile First")

.ui.form.forgot-password-container {
  .ui.heading {
    width: 460px;
    color: $primaryGray;
    font-size: 20px !important;
    &.forgot-password-text {
      color: $primaryGray;
    }
    &.forgot-password-text-inactive {
      color: $downloadRequestedColor;
    }
  }
  .forgot-username-btn {
    padding-bottom: 19px;
  }
  .bmo-forgot-password-text {
    color: $primaryBlue !important;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .ui.container {
    .ui.button {
      background-color: $primaryBlue;
      color: $primaryWhite;
    }
    .ui.medium.secondary.disabled.button {
      margin-bottom: 15px;
      font-size: $deskSz9;
      background-color: $primaryWhite;
      color: $primaryGray;
    }
  }
}
.ui.container.password-recovery-confirmation {
  .ui.heading {
    width: 416px;
    margin: auto;
  }
  .ui.container {
    .ui.button.password-recovery-close {
      background-color: $primaryBlue;
      color: $primaryWhite;
    }
  }
}

// Small Breakpoint
@media (max-width: $screen-xs-sm) {
  .ui.form.forgot-password-container {
    .ui.heading {
      width: 100%;
      padding: 0 30px 0 0;
    }
    .ui.container {
      .ui.button {
        &.linkBtn {
          padding: 3px;
          margin: auto;
        }
      }
      .ui.button.secondary {
        margin: 30px auto 16px auto;
      }
    }
  }
  .ui.container.password-recovery-confirmation {
    .ui.heading {
      width: 260px;
    }
    .ui.button.secondary {
      margin: 40px auto;
    }
  }
}

// Medium Breakpoint
@media (min-width: $screen-md-min) {
  .forgot-password-container {
    // override sm breakpoint styles
  }
}

// Large Breakpoint
@media (min-width: $screen-lg-min) {
  .forgot-password-container {
    // override md breakpoint styles
  }
}
