/*
 * Component: QuantSectorCircle
 */

@import '../../../styles/variables';

// (IMPORTANT: please create the styles such that the larger breakpoints
// override the smaller ones. "Mobile First")

.quant-sector-circle {
  margin: 0 23px;
  display: inline-block;
  text-align: center;
  margin-bottom: 50px;
  margin-top: -16px;
  position: relative;
  @include transition(0.3s ease-in-out);
  &:hover {
    @include scale(1.05);
    .sector-name, .value {
      @include appDefaultFontStyleMedium();
    }
  }
  .circle-and-count {
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: center;
  }
  .quant-circle-holder {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: solid 3px $primaryBlue;
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 18px $primaryWhite;
    box-sizing: border-box;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  .outer-circle {
    border: solid 2px $primaryBlue;
    border-radius: 50rem;
    overflow: hidden;
    padding: 10px;
    height: 100px;
    width: 100px;
  }
  .ui.button.quant-icons {
    height: 100px;
    width: 100px;
    display: block;
    margin: 0;
  }
  .quant-icons {
    cursor: pointer;
    margin: auto;
  }
  .arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 18px solid black;
    display: inline-block;
    &.arrow-up_0 {
      border-bottom-color: $quantScalecolor_0;
    }
    &.arrow-up_1 {
      border-bottom-color: $quantScalecolor_1;
    }
    &.arrow-up_2 {
      border-bottom-color: $quantScalecolor_2;
    }
    &.arrow-up_3 {
      border-bottom-color: $quantScalecolor_3;
    }
    &.arrow-up_4 {
      border-bottom-color: $quantScalecolor_4;
    }
    &.arrow-up_5 {
      border-bottom-color: $quantScalecolor_5;
    }
    &.arrow-up_6 {
      border-bottom-color: $quantScalecolor_6;
    }
    &.arrow-up_7 {
      border-bottom-color: $quantScalecolor_7;
    }
    &.arrow-up_8 {
      border-bottom-color: $quantScalecolor_8;
    }
    &.arrow-up_9 {
      border-bottom-color: $quantScalecolor_9;
    }
    &.arrow-up_10 {
      border-bottom-color: $quantScalecolor_10;
    }
  }
  .circle {
    height: 18px;
    width: 18px;
    display: inline-block;
    border-radius: 50rem;
    background-color: black;
    display: inline-block;
    &.circle_0 {
      background-color: $quantScalecolor_0;
    }
    &.circle_1 {
      background-color: $quantScalecolor_1;
    }
    &.circle_2 {
      background-color: $quantScalecolor_2;
    }
    &.circle_3 {
      background-color: $quantScalecolor_3;
    }
    &.circle_4 {
      background-color: $quantScalecolor_4;
    }
    &.circle_5 {
      background-color: $quantScalecolor_5;
    }
    &.circle_6 {
      background-color: $quantScalecolor_6;
    }
    &.circle_7 {
      background-color: $quantScalecolor_7;
    }
    &.circle_8 {
      background-color: $quantScalecolor_8;
    }
    &.circle_9 {
      background-color: $quantScalecolor_9;
    }
    &.circle_10 {
      background-color: $quantScalecolor_10;
    }
  }
  .value,
  .sector-img,
  .icons,
  .sector-name {
    display: inline-block;
    width: auto;
    text-align: center;
    color: $primaryBlue;
    font-size: $deskSz9;
  }
  .value {
    top: 16px;
    padding: 0 10px;
    position: relative;
    background-color: #fff;
  }
  .icons {
    top: -12px;
    padding: 0 8px;
    position: relative;
    background-color: #fff;
  }
  .sector-name {
    display: inline-block;
    top: -17px;
    position: absolute;
    transform: translateX(-50%);
    top: calc(100% - 12px);
    left: 50%;
    line-height: 16px;
  }
}

// Small Breakpoint
@media (min-width: $screen-sm-min) {
  .quant-sector-circle {
    // override xs breakpoint styles
  }
}

// Medium Breakpoint
@media (min-width: $screen-md-min) {
  .quant-sector-circle {
    // override sm breakpoint styles
  }
}

// Large Breakpoint
@media (min-width: $screen-lg-min) {
  .quant-sector-circle {
    // override md breakpoint styles
  }
}
